/* debug */

/* .debug .nav{ height: 50px;} */

/* .debug .jumbotron{height: 400px;} */

/* .debug .about{height: 200px;} */

/* .debug .contact-me{height: 400px;} */

/* .debug .footer_top{height: 160px;}

.debug .footer_bottom{height: 80px;}

.debug .container{height: 100%;} */

/* .debug .row{height: 100%; border: 2px solid black;} */

/* .debug .jumbotron{
    border: 2px solid black;
} */

?
/* fine debug */


/* hr-star */
.hr_star{width: 25%;}

._star{width: 20%; min-width: 50px;}

.jumbotron ._star, .about ._star{filter: invert(1);}

._hr{
    width: 35%;
    height: 4px;
    min-width: 70px;
}
/* fine hr-star */


            /* perché questo selettore avanzato non funziona come dovrebbe? */
            /* :not(.bg-white) ._star{ filter: invert(1);} */





/* nav */
.navbar{background-color: #2C3E50;}
/* fine nav */


/* jumbotron */
.jumbotron{background-color: #1ABC9C;}
.jumbotron img{width: 20%; min-width: 50px;}
/* fine jumbotron */


/* portfolio */
._card{width: 100%;}
/* fine portfolio */


/* about */
.about{background-color: #1ABC9C;}
/* fine about */


/* contact-me */
._message{height: 100px;}
._send{background-color: #1ABC9C;}
/* fine contact-me */


/* footer_top */
.footer_top{background-color: #3A546D;}

._social > div{
    display: inline-block;
    font-size: x-large;
    border-radius: 100%;
    border: 1px solid white;
    height: 55px;
    width: 55px;
}

._start-bootstrap{color: #1ABC9C;}
/* fine footer_top */


/* footer_bottom */
.footer_bottom{background-color: #2C3E50;}
/* fine footer_bottom */